{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block title %}Главная страница{% endblock %}


{% block custom_styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}


<div class="bio-container">

    <div class="photo-and-buttons">
        <img src="{% static 'img/А.Е.Лихачев.jpg' %}" alt="А.Е.Лихачев" style="max-width: 800px; max-height: 500px;">
        
        <div class="questions">
            <a href="{% url 'question'%}" class="button">ФОРМА ДЛЯ ПОДАЧИ ВОПРОСОВ</a>
        </div>
    
        <div class="questions">
            <a href="{% url 'list'%}" class="button">ФОРМА С ВОПРОСАМИ И ОРГАНИЗАЦИЯМИ</a>
        </div>
    </div>

    <div class="bio-text">
        <h2>Алексей Евгеньевич Лихачёв</h2>
        <p><strong>Краткая биография:</strong></p>
        <p>Родился 23 декабря 1962 года в г. Арзамас-75 (Саров).</p>
        <p><strong>Трудовая деятельность:</strong></p>
        <p>В 2007-2008 гг. - советник министра экономического развития.</p>
        <p>В 2008 - 2010 гг. - директор сводного департамента анализа и регулирования внешнеэкономической деятельности министерства.</p>
        <p>В 2010 г. назначен замминистра, в феврале 2015 г. - первым замминистра экономического развития.</p>
        <p>5 октября 2016 года Указом Президента РФ назначен генеральным директором Государственной корпорации по атомной энергии «Росатом».</p>
        <p><strong>Награды:</strong></p>
        <p>Награжден Орденом «За заслуги перед Отечеством» IV степени (2020), Орденом Почета (2015), Орденом Дружбы (2010), Почетной грамотой Президента РФ (2013), отмечен благодарностями Президента РФ (2008, 2014). Почетный гражданин Нижнего Новгорода (2023).</p>
    </div>
</div>





{% endblock %}
